.currentlyReadingList {
    display: flex;
    padding: 10px;
    cursor: pointer;
    border-right: 1px solid whitesmoke;
}

.currentlyReadingList:hover {
    background-color: seashell;
}

.currentlyReadingList__info {
    margin-left: 15px;
}