.futureReadingList {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid whitesmoke;
}

.futureReadingList:hover {
    background-color: seashell;
}

.futureReadingList__info {
    /* align-content: left; */
    /* margin-left: 15px; */
}

