.readinglist {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    border-right: 1px solid lightgrey;
}

/* Add New Book Section  */
.readinglist__addnewbook {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid lightgrey; */
    border: 2px solid red;
    background-color: rgb(240, 218, 94);
}

.addnewbook__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

.addnewbook__inputs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

.addnewbook__inputs > input {
    margin: 1px;
    outline-width: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.addnewbook__inputs > button {
    margin-top: 5px;
    border-radius: 10px;
}

/* Currently Reading Section */
.readinglist__currentlyreading {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid lightgrey; */
    border: 2px solid red;
    background-color: rgb(240, 218, 94);
}

.currentlyreading__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

.currentlyreading__list {
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

/* Future Reading Section */
.readinglist__futurereading {
    padding: 20px;
    flex: 1;

    /* border-bottom: 1px solid lightgrey; */
    border: 2px solid red;
    background-color: rgb(240, 218, 94);
}

.futurereading__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 10px;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

.futurereading__list {
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}