.readbooks {
    display: flex;
    flex-direction: column;
    flex: 0.25;
}

.alreadyReadBooks {
    flex: 1;
    padding: 20px;
    border: 2px solid red;
    background-color: rgb(240, 218, 94);
}

.alreadyReadBooks__header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

.alreadyReadBooks__list {
    flex: 1;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}