.readinglist {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    border-right: 1px solid lightgrey;
}

.readinglist__addnewbook {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid lightgrey; */
    border: 2px solid red;
}

.addnewbook__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid red;
}

.addnewbook__inputFields {
    border: 2px solid red;
}

.readinglist__currentlyreading {
    border: 2px solid red;
}

.readinglist__futurereading {
    border: 2px solid red;
}