.readinglist {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    border-right: 1px solid lightgrey;
}

.readinglist__addnewbook {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid lightgrey; */
    border: 2px solid red;
    background-color: rgb(240, 218, 94);
}

.addnewbook__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

.addnewbook__inputs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid red;
    background-color: rgb(243, 225, 177);
}

.addnewbook__inputs > input {
    margin: 1px;
    outline-width: 0;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.readinglist__currentlyreading {
    border: 2px solid red;
}

.readinglist__futurereading {
    border: 2px solid red;
}